<!DOCTYPE html>
<html>
  <head>
    <title>IIoW Savefile Bot</title>
    <!-- <link rel="shortcut icon" href=""/> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.1" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="header">
      <h1>IIslands Of War Savefile bot</h1>
    </div>

    <div id="body">
      <p>
        This website and bot is still work in progress<br /><br />
        <strong>Command list</strong><br />
        Default prefix is -
      </p>

      <ul>
        <li class="h"><strong>Savefile</strong></li>
        <li>stats</li>
        <li>island</li>
        <li>save</li>
        <li>saves</li>
        <li>download</li>
        <li>delete</li>
        <li>modify</li>
        <br />
        <li class="h"><strong>General</strong></li>
        <li>credits</li>
        <li>ping</li>
        <li>help</li>
        <li>mylevel</li>
        <li>set</li>
      </ul>

      <p>
        Below you can see images of how the bot works
        <br /><br />
        <img
          src="https://cdn.glitch.com/7eb7f1a0-e3d7-403c-a0b9-c7a513975734%2Fbot1.PNG"
        /><br />
        <img
          src="https://cdn.glitch.com/7eb7f1a0-e3d7-403c-a0b9-c7a513975734%2Fbot2.PNG"
        /><br />
        <img
          src="https://cdn.glitch.com/7eb7f1a0-e3d7-403c-a0b9-c7a513975734%2Fbot3.PNG"
        /><br />
        <img
          src="https://cdn.glitch.com/7eb7f1a0-e3d7-403c-a0b9-c7a513975734%2Fbot4.PNG"
        /><br />
      </p>
    </div>
  </body>
</html>
